[submodule "lib/PIDF"]
	path = lib/PIDF
	url = https://github.com/mrmeizongo/PIDF.git
[submodule "lib/SlewRateLimiter"]
	path = lib/SlewRateLimiter
	url = https://github.com/mrmeizongo/SlewRateLimiter.git
